<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.teamblue.WeBillv2">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="We Bill"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.StripeAccountsActivity"
            android:exported="false"/>
        <activity
            android:name=".view.PaymentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.SignUpView"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MyAccountView"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AddBillView"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MenuView"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SplitBillActivity"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ScanBillActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <provider
            android:authorities="com.teamblue.WeBillv2.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>